
__pycache__/qucikreplyElement.cpython-37.pyc
__pycache__/button.cpython-37.pyc
.idea/workspace.xml
.idea/WorkplaceChatBot.iml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
.idea/WorkplaceChatBot.iml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
